.floating-booking-form #BEx4IDaY3bWD .BEx4ZXaY3bWR{border-top: 5px solid transparent !important;}

.floating-booking-form #BEx4IDaY3bWD select.BEx4ZXaY3bPC,.floating-booking-form  #BEx4IDaY3bWD select.BEx4ZXaY3bPP{background: #ffffff !important;}
.floating-booking-form #BEx4IDaY3bWD input[type=text]{background: #ffffff !important;}
.floating-booking-form .form-body {position: relative; height:150px;}
.floating-booking-form .window-loader{position: absolute; left: 50%; top: 50%; margin-left: -15px; margin-top: -15px;}
.floating-booking-form .form-body #BEx4IDaY3bWD{150px; visibility: hidden;}
.floating-booking-form #BEx4IDaY3bWD hr.BEh4IDsZ4fZEHR {display: none !important;}
