<div class="section programs">
    <div class="sec-inner">
        <div class="question-sec">
            <h2>Please choose programs that you want to include</h2>
            <div class="box">        
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="javascript:void(0);" ng-click="open('lg')" class="btn btn-block btn-lg btn-pura-nor"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Programs <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="programs">

                <ul class="selected">
                    <li ng-repeat="prog in programs">
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">{{prog.title}}</div>
                                <div class="two"><i <i class="fa fa-users" aria-hidden="true" style="color:#A0A0A0"> </i>{{prog.forPerson}} - <i class="fa fa-inr" aria-hidden="true" style="color:#A0A0A0"></i> <strong>{{prog.totalPrice}}</strong></div>
                                <div class="three" ng-click="remove($index)">delete</div>
                            </div>
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-sec">
    	<a href="javascript:void(0);" ng-click="back()" class="btn btn-success btn-pura left"><i class="fa fa-backward" aria-hidden="true"></i> back</a>
    	<a href="javascript:void(0);" ng-click="next()" class="btn btn-success btn-pura active right">Next <i class="fa fa-forward" aria-hidden="true"></i></a>
    	<div class="clearfix"></div>
    </div>
</div>