<div class="section programs">
    <div class="sec-inner">
        <div class="question-sec">
            <h2>Please choose programs that you want to include</h2>
            <div class="box">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="javascript:void(0);" ng-click="open('lg')" class="btn btn-block btn-lg btn-pura-nor"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Programs <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="selected">
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">asdf</div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">asdf</div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">asdf</div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-sec">
    	<a href="javascript:void(0);" ng-click="back()" class="btn btn-success btn-pura left"><i class="fa fa-backward" aria-hidden="true"></i> back</a>
    	<a href="javascript:void(0);" ng-click="next()" class="btn btn-success btn-pura active right">Next <i class="fa fa-forward" aria-hidden="true"></i></a>
    	<div class="clearfix"></div>
    </div>
</div>