<div class="section summary">
    <div class="sec-inner">
        <div class="question-sec">
            <h2 class="text-left">Summary</h2>
            <div class="row">
                <ul class="selected">
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one"><figure><img src="images/rooms-img/room1.jpg" alt=""></figure> <span>asdf</span></div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one"><figure><img src="images/rooms-img/room1.jpg" alt=""></figure> <span>asdf</span></div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>                   
                </ul>
            </div>

            <h2 class="text-left top-gap">Program</h2>
            <div class="row">
                <ul class="selected">
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">asdf</div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="selected-box">
                            <div class="selected-box-inn">
                                <div class="one">asdf</div>
                                <div class="two"><strong>2</strong> asdf</div>
                                <div class="three">asdf</div>
                            </div>
                        </div>
                    </li>                   
                </ul>
            </div>
            <div class="row top-gap">
            	<a href="javascript:void(0);" class="btn btn-pura active btn-lg">Book Now</a>
            </div>
        </div>
    </div>
    <div class="btn-sec">
    	<a href="javascript:void(0);" ng-click="back()" class="btn btn-success btn-pura left"><i class="fa fa-backward" aria-hidden="true"></i> back</a>    	
    	<div class="clearfix"></div>
    </div>
</div>