<div class="section when">
    <div class="sec-inner">
        <div class="question-sec">
            <h2>When are you planning to go?</h2>
            <div class="box"> 
                <div class="row">
                  <div class="col-md-6">
                    <div id="start">
                      <div class="input-group date">
                        <input type="text" class="form-control" ng-model="when.start"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                     <div id="end">
                      <div class="input-group date">
                        <input type="text" class="form-control" ng-model="when.end"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                      </div>
                    </div>                          
                  </div>
                </div>  
                <div class="row">
                    <p ng-show="when.diff" class="top-gap text-center" ng-class="{'red': txtcolor}">{{when.diff}} days</p>
                </div>               
            </div>    
        </div>
    </div>


    <div class="btn-sec">
    	<a href="javascript:void(0);" ng-click="back()" class="btn btn-success btn-pura left"><i class="fa fa-backward" aria-hidden="true"></i> back</a>
    	<a href="javascript:void(0);" ng-click="next()" class="btn btn-success btn-pura right" ng-class="{'active': activebtn}">Next <i class="fa fa-forward" aria-hidden="true"></i></a>
    	<div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
      $(document).ready(function(){
          var today = new Date();

          $('#start .input-group.date').datepicker({
              startDate: today
          });

          $('#end .input-group.date').datepicker({
              startDate: today
          });
      })
  </script>