<div class="section" ng-controller="SideBarCtrl">
	<div class="sec-inner">
        <h3>Summary</h3>
        <div class="side-wh" ng-if="whereData != 0">                             
            <label>Destination <i class="pull-right fa fa-pencil"  ng-click="goToWhere()"></i></label>
            <div class="wh-full">   
                <span>{{whereData.cluster.name}} <i>-</i> {{whereData.resort.name}}</span>
            </div>
        </div>
        <div class="side-wh" ng-if="whenData.diff>0"> 
            <label>Duration<i class="pull-right fa fa-pencil" ng-click="goToWhen()"></i></label>
            <div class="wh-half pull-left">
                <i>From</i>
                <span>{{whenData.start}}</span>
            </div>
            <div class="wh-half pull-right">
                <i>To</i>
                <span>{{whenData.end}}</span>
            </div>
            <div class="clearfix"></div>
        </div>  
        <div class="side-wh" ng-if="personData.adult.number>0 && personData.child.number>=0"> 
            <label>Travelers<i class="pull-right fa fa-pencil" ng-click="goToPerson()"></i></label>
            <div class="wh-half pull-left">
                <i>Adult</i>
                <span>{{personData.adult.number}}</span>
            </div>
            <div class="wh-half pull-right">
                <i>Children</i>
                <span>{{personData.child.number}}</span>
            </div>
            <div class="clearfix"></div>
        </div> 
        <div class="side-wh" ng-if="roomsData.length>0">
            <label>Selected Stay<i class="pull-right fa fa-pencil" ng-click="goToRooms()"></i></label>
            <div class="wh-full border-box">
                <div class="border-box-inn">
                    <div ng-repeat="r in roomsData"><p>{{r._title}} - {{r.room_count}}<strong>{{r.totalPrice}}</strong></p></div>
                </div>                   
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="side-wh" ng-if="programData.length>0">
            <label>Selected Experience<i class="pull-right fa fa-pencil" ng-click="goToPrograms()"></i></label>
            <div class="wh-full border-box">
                <div class="border-box-inn">
                    <div ng-repeat="r in programData"><p>{{r.title}} - {{r.forPerson}}<strong>{{r.totalPrice}}</strong></p></div>
                </div>                   
            </div>
            <div class="clearfix"></div>
        </div> 
        <div class="side-wh" ng-if="false">
            <a href="javascript:void(0);" class="btn btn-pura btn-block active">Pay now</a>
        </div>   
    </div>
</div>