<div class="section person">
    <div class="sec-inner">
        <div class="question-sec">
            <h2>Number of Travellers</h2>
            <div class="box">
                <div class="row">                   
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="adult">Room</label>
                            <input type="number" class="form-control" min="1" max="50" id="room" ng-model="person.room">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="adult">Adult</label>
                            <input type="number" class="form-control" min="1" id="adult" ng-model="person.adult.number">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="child">Children</label>
                            <input type="number" value="0" class="form-control" min="0" id="child" ng-model="person.child.number">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <p class="text-center" ng-class="{'red': txtcolor}"><strong>{{person.room}} Room for {{person.adult.number}} Adult, {{person.child.number}} Children</strong></p>
                </div>
                <br/><br/>
                <div class="row">
                    <p class="text-center"><span class="text-muted">Children: (6-12 yrs) </span> &nbsp;&nbsp;&nbsp;<span class="text-muted">Adult: (12 yrs+)</span></p>
                </div>
            </div>            
        </div>
    </div>
    <div class="btn-sec">
    	<a href="javascript:void(0);" ng-click="back()" class="btn btn-success btn-pura left"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
    	<a href="javascript:void(0);" ng-click="next()" class="btn btn-success btn-pura active right" ng-class="{'active': activebtn}">Next <i class="fa fa-forward" aria-hidden="true"></i></a>
    	<div class="clearfix"></div>
    </div>
</div>