 <div class="alert alert-danger" ng-if="error.show">{{error.msg}}</div>
 <h4>{{prgm.title}}<span ng-if="prgm.min_time">({{prgm.min_time/60}}</span><span ng-if="prgm.max_time">-{{prgm.max_time/60}}) hrs</span></h4>
    <div class="summPrg">
        <div class="inn">
            <figure>
                <img ng-src="{{prgm.img}}" alt="">
            </figure>
            <div class="des">                                   
                <p ng-bind-html="prgm.description"></p>
            </div>
        </div>
    </div>
    <div class="prog-blk">                     
        <div class="left-blk">
            <div class="inner" ng-repeat="group in prgm.groups">                                
                <section class="ranjan" ng-repeat="grp in group">                                  
                    <h5 ng-hide="grp.activities.length==1">Choose any {{grp.max_selection}}</h5>
                    <ul>
                        <li ng-repeat="act in grp.activities">   

                            <div class="li-box">                                                    
                                <div class="one"><img ng-src="{{act.img}}"></div>
                                <div class="two">
                                    <label for="one">{{act.Activity_Name}} <span></span></label>
                                    <p ng-bind-html="act.description"></p>
                                </div> 
                                <div class="chkbx" ng-hide="grp.activities.length==1">
                                    <input type="checkbox" ng-model="selected[act.seqId]" ng-disabled="!selected[act.seqId] && maxSelected({{grp.max_selection}})" id="{{act.seqId}}"/>
                                </div>    
                            </div>
                        </li>                                        
                    </ul>                                                      
                     <div ng-hide="$index+1 == group.length" class="separator separator2"><span>or</span></div>  
                </section>

                 <div class="separator separator1"><span>+</span></div>  

            </div>    
        </div>
        <div class="right-blk">
            <div class="rght-blk-inner">                                                        
                <div class="rt-bx">
                   <h3>Price Per unit</h3>
                   <div class="price-bx">
                        <p><strong>{{prgm.unit_price}}</strong>{{prgm.unit}}</p>
                         <select ng-if="!btnHide" ng-model="myselect" ng-change="getCurrentPrice(myselect)" ng-options="o as o for o in totPerson"></select>
                   </div>
                </div>

                <div class="price"><i>Total - </i><span>&#8377;</span> {{totalActPrice}}</div>
                <a href="javascript:void(0);" ng-hide="nothingShow" ng-if="!btnHide" class="btn gap btn-pura pull-right active prgm" ng-hide="nothingShow" ng-click="addPr(); managebtn()">Add</a>
                <a href="javascript:void(0);" ng-if="btnHide"  class="pull-right btn gap btn-pura prgm"  ng-click="removeprogram(); managebtn()">Remove <span class="fa fa-times" aria-hidden="true"></span></a>
                <div class="clearfix"></div>
            </div>  

        </div>
        <div class="clearfix"></div>
    </div>  
<!-- <div ng-repeat="record in records"><input type="checkbox" ng-model="selected[record.id]" ng-disabled="!selected[record.id] && maxSelected(2)" id="{{record.id}}"/></div> -->
