<div class="img-blk col-sm-6">
        <div class="inner">
            <div class="fig">
                <figure> 
                    <img fallback-src="images/default.gif" ng-src="{{images[0]._src}}" alt="{{room._title}}">
                </figure>
            </div>
            <div class="des">
                <h3>{{room._title}}</h3>
                <p>lorem ipsum lorem ipsum</p>
                <div class="lwr">
                    <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                </div>
                <a href="javascript:void(0);" ng-model="showDetails" ng-click="changeAminityDisplay()">show details</a>
            </div>
        </div>    
    </div>
    <div class="col-sm-6">
        <div class="rght-blk-inner">
            <div class="room-cnt">
                <div class="inner">
                   <div class="counter">
                        <div class="counter-inner">
                            <div class="button minus" ng-click="substractOne()">
                                <span> - </span>
                            </div>
                            <input type="text" ng-model="roomcount" readonly>
                            <div class="button plus" ng-click="addOne()">
                                <span> + </span>
                            </div>
                        </div>
                    </div>
                    <div class="rem" ng-if="added" ng-click="removed()"><span>remove<i>x</i></span></div>
                </div>
            </div>
            <div class="room-book">
                <div class="inner">
                    <div class="txt">                        
                        <strong>{{rates[0]._price}}</strong>
                        <small>{{rates[0]._tax}}</small>
                        <a href="javascript:void(0);" class="btn btn-pura active" ng-if="!added" ng-click='addRm(); checkfun()'>Add</a>
                        <p ng-if="!room._availableroom>0" style="color:#ff0000;">Not Available</p>
                        <div class="clearfix"></div>                                                
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="clearfix"></div>
    <div class="aminities" ng-if="showDetails">
        <ul>
            <li ng-repeat="amin in aminities">{{amin._title}}</li>
        </ul>
    </div>
</li>