<div class="modal-header">
    <h3 class="modal-title">List of rooms you can choose for your stay</h3>
    <a href="javascript:void(0)" class="close" ng-click="cancel()">X</a>
</div>
<div class="modal-body">
    <div class="subhead">
        <h5>{{hotel._title}}</h5>    
    </div>    
    
    <div class="tab-section">
        <div>
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Choose Rooms">    
                <div class="resort-rooms">
                    <ul>
                        <li ng-repeat="room in hotel.roomtypes.roomtype">
                            <div roomlist roomdata="{{room}}" addroom="addingRooms(roombooked)">
                        </li>    
                    </ul>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="About Resort">    
                <div class="resort-rooms">
                    <h4 ng-bind-html="resortDetails.name"></h4>
                    <div class="banner"><img ng-src="{{resortDetails.banner}}"></div>
                    <div class="description">
                        <p ng-bind-html="resortDetails.description"></p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Gallery">    
                <div class="resort-rooms">
                    <h4> Gallery</h4>
                    <div class="gallery-resort">
                        <div class="row">
                            {{rooms}}
                            <ul>
                                <li><img ng-src=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </uib-tab>
           </uib-tabset> 
        </div>
    </div>
        
</div>

<div class="modal-footer">    
    <button class="btn btn-pura" type="button" ng-click="ok()">OK</button>    
</div>