<div class="modal-header">
    <h3 class="modal-title" ng-if="!showErrorRoom">List of Room Types</h3>
    <h3 class="modal-title" ng-if="showErrorRoom">Stay Availability Status</h3>
    <a href="javascript:void(0)" class="close" ng-click="cancel()">X</a>
</div>

<div class="modal-body" ng-if="showErrorRoom">
    <div class="subhead">
        <h5>Sorry no rooms are available. Try selecting different travel dates or holiday stay.<br/>If you are trying to book multiple rooms, check availability by searching for 1 room. For booking assistance, you can call us at <a href="tel:09015511551">+91 90 1551 1551</a> anytime between 10am to 6pm.</h5>  
        <div class="changedate"><a class="btn btn-success btn-pura" href="javascript:void(0);" ng-click="changeDate()">Change Criteria</a></div>  
    </div>  
</div>    

<div class="modal-body" ng-if="!showErrorRoom">
    <div class="subhead">
        <h5>{{hotelName}}</h5>    
    </div>    
    
    <div class="tab-section">
        <div>
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Select Rooms">    
                <div class="resort-rooms">
                    <ul>
                        <li ng-repeat="room in rooms">
                            <div roomlist roomdata="{{room}}" addroom="addingRooms(roombooked)" removeroom="removingRooms($index)">
                        </li>    
                    </ul>
                </div>
            </uib-tab>
            
            <uib-tab index="1" heading="Resort Gallery">    
                <div class="resort-rooms">
                    <h4>{{resortDetails.name}}</h4>
                    <div class="gallery-resort">
                        <div class="row">                            
                            <ul>
                                <li ng-repeat="img in resortDetails.gallery"><img ng-src="{{img}}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="About Resort">    
                <div class="resort-rooms">                    
                    <div class="banner"><img ng-src="{{resortDetails.banner}}"></div>
                    <div class="description">
                        <p ng-bind-html="resortDetails.description" class="text-justify"></p>
                    </div>
                </div>
            </uib-tab>
           </uib-tabset> 
        </div>
    </div>
    <p style="color:#ff0000" ng-if="personErrorCount">Number of rooms selected cannot accommodate the number of travellers.<br/>Please Add the selected rooms or select rooms with higher occupancy or modify your search criteria.</p>    
</div>

<div class="modal-footer" ng-if="!showErrorRoom">    
    <button class="btn btn-pura" type="button" ng-click="ok()">OK</button>    
</div>