<div class="modal-header">
    <h3 class="modal-title">List of rooms you can choose for your stay</h3>
    <a href="javascript:void(0)" class="close" ng-click="cancel()">X</a>
</div>
<div class="modal-body">
    <div class="subhead">
        <h5>{{hotel._title}}</h5>    
    </div>    
    <div class="tab-section">
        <div ng-controller="TabsDemoCtrl"> 
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Choose Rooms Choose Rooms Choose Rooms Choose Rooms"> 
                <div class="resort-rooms">
                    <ul>
                        <li ng-repeat="room in hotel.roomtypes.roomtype">
                            <div roomlist roomdata="{{room}}" roomcount = "{{roomcount}}" addroom="addingRooms(roombooked, roomct)">
                        </li>    
                    </ul>
                </div>
               </uib-tab>
               <uib-tab index="1" heading="Choose Rooms Choose Rooms Choose Rooms Choose Rooms"> 
                <div class="resort-rooms">
                    <ul>
                        <li ng-repeat="room in hotel.roomtypes.roomtype">
                            <div roomlist roomdata="{{room}}" roomcount = "{{roomcount}}" addroom="addingRooms(roombooked, roomct)">
                        </li>    
                    </ul>
                </div>
               </uib-tab>
               <uib-tab index="2" heading="Choose Rooms Choose Rooms Choose Rooms Choose Rooms"> 
                <div class="resort-rooms">
                    <ul>
                        <li ng-repeat="room in hotel.roomtypes.roomtype">
                            <div roomlist roomdata="{{room}}" roomcount = "{{roomcount}}" addroom="addingRooms(roombooked, roomct)">
                        </li>    
                    </ul>
                </div>
               </uib-tab>
            </uib-tabset>   
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>    
</div>