@import url("stylesheet.css");

.navbar-brand.logo{display:inline-block;}
.navbar-inverse.pura{background:#2e3d42;}
.navbar-brand {padding: 5px 5px;}
.navbar-brand.logo img{height:40px;}
.topgap{margin-top:70px;}
*{ border-radius:0px !important;}
body{background:#dfdfdf; font-family: 'open_sanslight';position: relative; }
.overlay{width:100%; height: 100%; position: fixed; top: 0; background: rgba(255,255,255,0.8); z-index: 9999;}
.overlay img{height: 50px; position: absolute; left: 50%; top: 50%; margin-left: -25px; margin-top: -5px;}
.section{background:#ffffff; box-shadow:0 0 2px rgba(0,0,0,0.3) ;padding:20px; margin: 30px 0;position: relative;}
.section.where{background:#ffffff url(../images/bg-icon/where.png) no-repeat -40px -40px;}
.section.when{background:#ffffff url(../images/bg-icon/when.png) no-repeat -40px -40px;}
.section.person{background:#ffffff url(../images/bg-icon/person.png) no-repeat -40px -40px;}
.section.rooms{background:#ffffff url(../images/bg-icon/rooms.png) no-repeat -40px -40px; }
.section.programs{background:#ffffff url(../images/bg-icon/programs.png) no-repeat -40px -40px;}
.section.summary{background:#ffffff url(../images/bg-icon/summary.png) no-repeat -40px -40px;}
.section .sec-inner{display:table; width:100%; min-height:450px; position: relative;}
.section .sec-inner .question-sec{display:table-cell; vertical-align:middle; width:100%; text-align: center}
@-moz-document url-prefix() {
  .section .sec-inner .question-sec {height: 470px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {.section .sec-inner {height: 470px;}}

.section .sec-inner .question-sec h2{width: 80%; margin: auto;}
.box{width: 50%; margin:20px auto 10px; position: relative; text-align: left;}
.box .box-inn input{border: 1px solid #3a3a3a; padding:5px; font-size: 18px; box-sizing:border-box; position: relative;}

.btn-sec{display: block; position: absolute; left: 0; bottom: 0; width: 100%;bottom: 20px; height: 35px;}
.btn-sec .left{position: absolute; left: 30px; }
.btn-sec .right{position: absolute;  right: 30px;}
.btn-pura{ transition:all 0.5s; box-shadow: none; min-width: 100px; cursor: pointer; font-weight: bold; border: 1px solid #5A5A5A; color: #5A5A5A; background: #ffffff;}
.btn-pura-nor,.btn-pura-nor:hover{outline: none; transition:all 0.5s; box-shadow: none; min-width: 100px; cursor: pointer; font-weight: bold; border: 1px solid #5A5A5A; color: #5A5A5A; background: #ffffff;}
.btn-pura:hover,.btn-pura:active,.btn-pura:focus{background: #000000; color: #ffffff; border: 1px solid #000000;}
.btn-pura.active{background: #eaa62d; border: 1px solid #e19e28; color: #ffffff;}
.btn-pura.active:hover, .btn-pura.active:focus, .btn-pura.active:active{background: #d39019; border: 1px solid #d39019; }
.modal-body{padding-top: 0;}
.modal-body .subhead h5{font-weight: bold; display: inline-block;}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border-color: transparent; border-bottom: 2px solid #7c6a5e; color: #7c6a5e; font-weight:bold; }
.resort-rooms ul{padding: 0; margin-top: 15px;}
.resort-rooms ul li{margin: 0; list-style: none; margin-bottom: 15px; display: block; background: #e1dfcd; padding: 10px 10px 10px 15px; position: relative; transition:all 0.5s;}
.resort-rooms ul li::before{content: ""; height: 100%; width: 5px; background: #e1dfcd; transition:all 0.5s; position: absolute; left: 0; top: 0;}
.resort-rooms ul li:hover{background: #e1dfcd;}
.resort-rooms ul li:hover::before{background: #7c6a5e;}
.resort-rooms ul li .img-blk .inner{display: table; width: 100%;}
.resort-rooms ul li .img-blk .fig {width: 160px; display: table-cell;}
.resort-rooms ul li .img-blk .fig figure{width: 100%; transition:all 0.5s; border: 2px solid #b7b7b7; box-sizing:border-box;}
.resort-rooms ul li:hover .img-blk .fig figure{border-color: #ffffff}
.resort-rooms ul li .img-blk .fig figure img{width: 100%;}
.resort-rooms ul li .img-blk .des{display: table-cell; transition:all 0.5s; padding-left: 20px; padding-right: 20px; vertical-align: top; border-right: 1px solid #C5C5C5;}
.resort-rooms ul li .img-blk .des h3{margin: 5px 0; font-size: 16px}
.resort-rooms ul li .img-blk .des p{font-size:12px;}
.resort-rooms ul li:hover .img-blk .des{border-color: #07a880; color:  #034232;}
.resort-rooms ul li .img-blk .des .lwr strong{display: block;}
.resort-rooms ul li .rght-blk-inner{display: table; width: 100%}
.resort-rooms ul li .rght-blk-inner .room-cnt{display: table-cell; vertical-align: middle; width: 50%; padding-right: 20px;}
.resort-rooms ul li .rght-blk-inner .room-cnt .inner{text-align: center;}
.resort-rooms ul li .rght-blk-inner .room-book{padding-left:20px; text-align: right; height: 120px; vertical-align: middle; border-left: 1px solid #C5C5C5; display: table-cell; vertical-align: middle; width: 50%;  transition: all 0.5s;}
.resort-rooms ul li .rght-blk-inner .room-book del{display: block;}
.resort-rooms ul li .rght-blk-inner .room-book strong{display: block; font-size: 24px; margin-bottom: 0px;}
.resort-rooms ul li .rght-blk-inner .room-book strong span{display: block;font-size: 12px; margin-bottom: 8px;}
.resort-rooms ul li .rght-blk-inner .room-book small{display: block; margin-bottom: 5px;}
.resort-rooms ul li:hover .rght-blk-inner .room-book{color: #07a880; border-color: #07a880 }

.resort-programs h4 span{font-size: 14px; margin-left: 10px;}
.resort-programs ul {padding: 0; margin-top: 15px;}
.resort-programs > ul > li{margin: 0; list-style: none; margin-bottom: 15px; display: block; background: #f9f8f8; padding: 20px 10px 20px 15px; position: relative; transition:all 0.5s;}
.resort-programs > ul > li::before{content: ""; height: 100%; width: 5px; background: #fbf9f9; transition:all 0.5s; position: absolute; left: 0; top: 0;}
.resort-programs > ul > li:hover{background: #e1dfcd;}
.resort-programs > ul > li:hover::before{background: #7c6a5e;}
.prog-blk{display: table; width: 100%; padding-bottom: 20px; padding-top: 15px; border-bottom:1px solid #ededed;}

.left-blk ul{margin: 0;}
.left-blk ul li{list-style: none; margin: 0;margin-bottom: 15px; background: #ffffff; padding: 6px 15px 6px 6px;}
.left-blk ul li:last-child{margin-bottom: 0;}
.left-blk ul li label{margin: 0;}
.left-blk .li-box{display: table; width: 100%; position: relative;}
.left-blk .li-box .one{display: table-cell; width: 110px}
.left-blk .li-box .one img{width: 100px; height: 70px;}
.left-blk .li-box .two{display: table-cell; vertical-align: top; padding-right: 20px;}
.left-blk .li-box .two label{display: block;}
.left-blk .li-box .two label span{color: #7c7c7c; font-weight: normal;; font-size: 13px;}
.left-blk .li-box .two p{font-size: 13px}

.left-blk .li-box .chkbx{position: absolute;width: 15px; right: -5px; top: 0px;}
.separator{display: block; transition:all 0.5s; position: relative;height: 1px; width: 100%; background: #bababa; margin: 15px 0 15px;}
.separator span{color: #2d3b3f; font-size: 22px; position: absolute; top: -10px; border-radius: 50% !important; display: inline-block; left: 50%; font-weight: bold; background: #ffffff; width: 20px; height: 20px; text-align: center; line-height: 18px;}
.separator.separator2 span{font-size: 13px;}
.prog-blk .left-blk .inner:last-child .separator.separator1{display: none;}
.prog-blk .left-blk .inner section:nth-last-child(1) .separator.separator2{display: none;}
.resort-programs > ul > li:hover .separator{background: #7c6a5e;}

.right-blk{display: table-cell; width: 300px; vertical-align: top;}
.right-blk .rght-blk-inner{padding-left: 20px;}
.right-blk .rght-blk-inner h3{margin: 5px 0 10px;}
.right-blk .rght-blk-inner .rt-bx{background: #ffffff; padding:15px;}
.right-blk .rght-blk-inner .rt-bx h3{font-size:16px;}
.right-blk .rght-blk-inner .rt-bx .price-bx{display: table; width: 100%}
.right-blk .rght-blk-inner .rt-bx p {font-size: 16px; display: table-cell; vertical-align: top;}
.right-blk .rght-blk-inner .rt-bx select{display: table-cell; width: 50px; vertical-align: top; padding:6px 10px; cursor: pointer;}
.right-blk .rght-blk-inner .rt-bx p strong{display: block; font-size: 20px; font-weight: normal;}
.right-blk .rght-blk-inner .price{margin-top: 10px; display: inline-block;font-size: 22px; line-height: 28px;}
.right-blk .rght-blk-inner .price i{font-style: normal; font-weight: bold; font-size: 18px;}
.right-blk .rght-blk-inner .btn.gap{margin-top: 10px;}

.selected{padding: 0; width: 80%; margin:10px auto 0; }
.selected li{background: #f4f4f4; padding: 6px 15px; list-style: none; margin-bottom: 10px; position: relative;}

.selected .selected-box-inn{display: table; width: 100%; font-size: 18px;}
.selected .selected-box-inn .one{width: 50%; display: table-cell; text-align: left; vertical-align: middle;}
.selected .selected-box-inn .one figure{width: 40px; height: 32px; overflow: hidden; float: left; margin-right: 10px;}
.selected .selected-box-inn .one figure img{width: 140%;}
.selected .selected-box-inn .one span{float: left; display: inline-block; top: 2px; position: relative;}
.selected .selected-box-inn .two{width: 25%; display: table-cell; text-align: left; vertical-align: middle;}
.selected .selected-box-inn .three{width: 25%; display: table-cell; vertical-align: middle; text-align: right; color: #ff0000; font-weight: bold; font-size: 13px; cursor: pointer;}
.selected .selected-box-inn .three2{width: 25%; display: table-cell; vertical-align: middle; text-align: right; font-weight: bold; font-size: 13px;}
.counter{width: 105px; display: inline-block; overflow: hidden;}
.counter .counter-inner{display: table; width: 100%;}
.counter .counter-inner .button{cursor: pointer; width: 35px; height: 35px; font-size: 26px; font-weight: bold; display: table-cell; vertical-align: middle; text-align: center;}
.counter .counter-inner input{width: 35px; text-align: center; border:1px solid #ededed;  height: 35px; outline: none; display: table-cell; vertical-align: middle;}
.close{position: absolute; transition:all 0.5s; right: 20px; top: 18px; font-size: 30px; text-decoration: none;}
.top-gap{}
.wh-full{border-bottom: 1px solid #2d2d2d;}
.wh-half{width: 45%;border-bottom: 1px solid #2d2d2d;}
.wh-full>i,.wh-half>i{font-style: normal;}
.side-wh{margin-bottom: 20px;}
.side-wh label{display: block; margin-bottom: 0 !important; text-transform: capitalize;}
.side-wh label i{cursor: pointer;}
.side-wh span{display: block; padding: 5px 0px 0px;}
.side-wh span i{cursor: pointer;}
.wh-full.border-box{border-bottom: none;}
.border-box{ margin-top: 10px;}
.border-box .border-box-inn{margin-bottom: 10px; border-bottom: 1px solid #2d2d2d;}
.border-box p strong{text-align: right; float: right;}
.border-box > p{padding-left: 15px ; padding-right: 15px;}
.page{position: relative; top: 0;}
.red{color: #ff0000;}
.summary-btn{position: absolute; top: 17px; right: 50px; text-decoration: none; color: #ffffff;}
.summary-btn:hover,.summary-btn:active,.summary-btn:focus{color: #ffffff; text-decoration: none;}
.sideToggle{display: block;}
.summary-btn{display: none;}
.whenGap{margin-bottom: 15px;}
.whereselect{padding: 10px; margin-bottom: 15px; width: 100%; box-sizing: border-box;}
.aminities ul{margin-top: 0;}
.aminities ul li{padding: 6px 10px; display: inline-block;  margin: 10px 10px 0 0; border:1px solid #ededed;}
.aminities ul li::before{display: none;}
.rem{text-align: center;}
.rem span{font-size: 15px; color: #000000; cursor: pointer; display: inline-block; margin: auto;}
.rem span i{font-style: normal; font-weight: bold; margin-left: 10px; color: #ff0000;}

.resort-rooms .banner{width: 100%; max-height: 300px; overflow: hidden; margin-bottom: 15px;}
.resort-rooms .banner img{width: 100%;}  

.summPrg{width: 100%; padding-bottom: 10px; border-bottom: 1px solid #ededed; }
.summPrg .inn{display: table; width: 100%;}
.summPrg .inn figure{display: table-cell; overflow: hidden; width: 140px; max-height: 100px; overflow: hidden; }
.summPrg .inn figure img{width: 100%; border: 2px solid #ededed;}
.summPrg .inn .des{display: table-cell; vertical-align: top; padding-left: 15px;}
.section.summary h5{text-align: left; font-size: 20px; margin-top: 20px; width: 80%; margin:auto; padding-left: 15px;}
.date-pick .date-pick-inner{width: 50%; height: 50px;float: left; position: relative; } 
.date-pick .form-control{background: url('../images/datepicker.png') no-repeat right 5px center; box-sizing:border-box;}

.modal-footer.auth{text-align: center; background: #EAA62D; color: #000000;}
.modal-footer p a{font-size: 16px; font-weight: bold; color: #000000; text-decoration: none;}
.gst{border: 1px solid #ededed; padding: 10px; cursor: pointer; margin-bottom: 20px;}

.or-blk{display: block; height: 20px; border-bottom: 1px solid #ededed; margin-bottom: 30px; position: relative;}
.or-blk span{position: absolute; width: 40px; height: 40px; background: #ffffff; top: 0px; left: 50%; margin-left: -20px; text-align: center; display: table; border-radius: 50% !important; border:1px solid #ededed;}
.or-blk span i{display: table-cell; vertical-align: middle; font-style: normal;}
.socialbtn{padding: 10px 0 20px;}
.login-booking{padding: 20px 0px 0px;}
.socialbtn a{margin-bottom: 10px;}
.summaysep{width: 100%; height: 20px;}
.btn-pura.prgm{transition: none;}

.gallery-resort ul {padding: 0 0 0 20px; margin: 0;}
.gallery-resort ul li{background: none; width: 31%; float: left; margin-right: 10px; margin-bottom: 10px; border:2px solid #ffffff; transition:all 0.5s; padding: 0;}
.gallery-resort ul li img{width: 100%;}
.gallery-resort ul li::before{content: none; width: 0; height: 0;}
.gallery-resort ul li:hover{background: none; border-color:#7c6a5e;}
.gallery-resort ul li:hover::before{content: none; width: 0; height: 0;}

.aminities ul li{background: #7c6a5e; color: #ffffff; font-weight: bold; font-size:11px;}
.aminities ul li:hover{color: #7c6a5e; border-color: #7c6a5e;}
.resort-rooms .img-blk .des a{color: #7c6a5e; text-decoration: underline; }
.action{padding-top: 24px; display: block;}
.action.lessgap{padding-top: 0px; margin-top: -3px;}
.action a{font-size: 24px;}
.no-border{border:none; box-shadow: none;}
.ranjan h5 i{font-style: normal;}
.text-justify{text-align: justify;}
.small{font-size: 14px; font-weight: bold;}
.ui-datepicker, .daterangepicker.ltr{ 
  margin-top: -70px !important;
  z-index: 1000;
}
.error{font-size: 12px; color: #ff0000;}
.terms-txt{font-size:11px; padding-top:10px;}
.page.forward.ng-enter {
	-webkit-animation: fadeInRight 2s;
	animation: fadeInRight 2s;
} 
.page.forward.ng-leave {
	position: absolute; top: 0; width: 93%;
	-webkit-animation: fadeOutLeft 1.5s;
	animation: fadeOutLeft 1.5s;
} 

.page.backward.ng-enter {
	-webkit-animation: fadeInRight 2s;
	animation: fadeInRight 2s;
} 
.page.backward.ng-leave {
	position: absolute; top: 0; width: 93%;
	-webkit-animation: fadeOutRight 1.5s;
	animation: fadeOutRight 1.5s;
} 

.page.fade.ng-enter {
	-webkit-animation: fadeIn 2s;
	animation: fadeInRight 2s;
} 
.page.fade.ng-leave {
	position: absolute; top: 0; width: 93%;
	-webkit-animation: fadeOut 1.5s;
	animation: fadeOutLeft 1.5s;
} 


.ng-if.ng-enter {
  transition: top 1s;
  top: -400px;
  overflow: hidden;
}

.ng-if.ng-enter-active {
  top: 0px;
}

.ng-if.ng-leave {
  transition: top 1s;
  top: 0px;
  overflow: hidden;
}

.ng-if.ng-leave-active {
  top: -800px;
}

@media only screen and (max-width:991px) {
	.right-blk{width: 260px;}
	.right-blk h3{font-size: 18px;}
	.right-blk .rght-blk-inner .price{font-size: 16px;}
}

@media only screen and (max-width:767px) {
	.resort-rooms ul li .img-blk .des{border-right: none;}
	.resort-rooms ul li .img-blk .inner{border-bottom: 1px solid #C5C5C5; transition: 0.5s all; padding-bottom: 20px;}
	.resort-rooms ul li:hover .img-blk .inner{border-color:#07a880;}
}

@media only screen and (max-width:767px) {
	/*.box{width: 100%}*/
	.sideToggle{position: absolute; z-index: 99999;  width: 100%; left: 0; top: 0; box-sizing: border-box;}
    .sideToggle .section{box-shadow: 0 0 10px #000000; background: rgba(255,255,255, 0.9); }
    .sideToggle .section .sec-inner{min-height: auto;}
	.summary-btn{display: block; right: 20px;}
	.section{margin:0;}
	.date{margin-bottom: 15px;}
	.box {width: 90%;}
	.modal-title h3{font-size: 16px; padding-right: 30px}
	.modal-header .close {font-size: 20px;}
	.section {padding: 10px 15px;}


}
@media only screen and (max-width:640px) {
	.resort-rooms ul li .img-blk .inner{display: block;}
	.resort-rooms ul li .img-blk .fig{display: block; margin: auto;}
	.resort-rooms ul li .rght-blk-inner .room-book{padding-left: 0;}
	.section .sec-inner .question-sec h2{font-size: 20px;}
	.selected li::after{font-size: 18px; top: 7px; right: -16px;}
	.selected .selected-box-inn .one span{font-size: 15px;}
	.selected .selected-box-inn .two{font-size: 15px;}
	.selected .selected-box-inn .three{font-size: 16px}
	.prog-blk{display: block;}
	.right-blk{display: block; width: 100%;}
	.right-blk .rght-blk-inner{padding-left: 0;}
}
@media only screen and (max-width:480px) {
	.summPrg .inn{display: block;}
	.summPrg .inn figure{display: block; margin: auto; height: 150px; overflow: hidden;} 
	.summPrg .inn figure img{ width: 100%; height: auto;}
	.summPrg .inn .des{display: block; padding-left: 0;}
}
