<div class="modal-header">
    <h3 class="modal-title">List of rooms you can choose for your stay</h3>
    <a href="javascript:void(0)" class="close" ng-click="cancel()">X</a>
</div>
<div class="modal-body">
    <div class="subhead">
        <h5>Choose our resorts in kaziranga</h5>
    </div>    
    <div class="tab-section">
        <div ng-controller="TabsDemoCtrl">          
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Resort 1">
                <div class="resort-rooms">
                    <ul>
                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
              </uib-tab>
              <uib-tab index="1" heading="Resort 2">
                <div class="resort-rooms">
                    <ul>
                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
              </uib-tab>
              <uib-tab index="2" heading="Resort 3">
                <div class="resort-rooms">
                    <ul>
                        <li>
                            <div class="img-blk col-sm-6">
                                <div class="inner">
                                    <div class="fig">
                                        <figure>
                                            <img src="images/rooms-img/room1.jpg" alt="room">
                                        </figure>
                                    </div>
                                    <div class="des">
                                        <h3>Room 1</h3>
                                        <p>lorem ipsum lorem ipsum</p>
                                        <div class="lwr">
                                            <p><strong>Sample Title</strong>lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="rght-blk-inner">
                                    <div class="room-cnt">
                                        <div class="inner">
                                           <div class="counter">
                                               <div class="counter-inner"> 
                                                   <div class="button minus"><span> - </span></div>
                                                   <input type="text" ng-maxlength="5">
                                                   <div class="button plus"><span>+</span></div>
                                               </div>
                                           </div> 
                                        </div>
                                    </div>
                                    <div class="room-book">
                                        <div class="inner">
                                            <div class="txt">
                                                <del>2400</del>
                                                <strong>1900</strong>
                                                <a href="javascript:void(0);" class="btn btn-pura active">Add</a>
                                                <div class="clearfix"></div>
                                                <a href="javascript:void(0);">details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
              </uib-tab>
            </uib-tabset>         
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>